# File di sistema
.DS_Store
Thumbs.db

# Cartelle di ambiente e dipendenze (se presenti)
node_modules/
.env

# File temporanei
*.log
.tmp/

# Cache del browser o file locali di configurazione
.vscode/
.idea/
