# Python
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/

# Database locale
*.db
*.sqlite3

# Allegati e file temporanei
neon_attachments/
downloads/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/